/* CSS Document */

.bg{
	/* background-color:#eee; */
	padding-left:5%;
	padding-right:5%;
	height:auto;
	padding-top:10px;
	padding-bottom:10px;
	
	}
	
.bg_white{
	/* background-color:#f3f3f3; */
	}	
	
.bg_white h2{
	
	font-family: 'Open Sans', sans-serif;
	font-size:30px;
	color:#999;
	font-weight:400;
}	

.bg_white1{
	
	/* background-color:#000; */
	padding-top:20px;
	overflow:hidden;
}

.bg_white1 h2{
	
	/* background-color:#ffffff; */
	font-size:20px;
	color:#777;
	margin-top:20px;
}

/* .bg_white1 h3{
	
   
	font-size:28px;
	color:#777;
	color:#ffffff;
	font-family: 'Open Sans', sans-serif;
	} */

	
.bg_white1 h4{
	
  	font-size:15px;
	color:#777;
	color:#ffffff;
	font-family: 'Open Sans', sans-serif;
	margin-right:-250px;
	
}

	

.bg_white1 h6{font-size:28px;
	
	color:#000;
	margin-top:-110px;
	font-family: 'Open Sans', sans-serif;
	margin-right:-150px;}
	
	
	
.bg_white1 h5{
	font-size:15px;
	color:#000;
	margin-right:-240px;
	font-family: 'Open Sans', sans-serif;
	}
	
	
	
	


.residential{
   /* background-image:url('../images/yellow.jpg');  */
	/* background-color:#000; */
	height:160px;
	background-repeat:no-repeat;
	background-size:100%;
	-webkit-background-size:100%;
	padding-top:10px;
	padding-right:30px;
	}
	
	
.residential_yellow{
   /* background-image:url('../images/yellow.jpg');  */
	/* background-color:#000; */
	height:160px;
	background-repeat:no-repeat;
	background-size:100%;
	-webkit-background-size:100%;
	padding-top:10px;
	padding-right:30px;
	}	
	
	
	
/* .residential_yellow h3{font-size:28px;
	
	color:#ffffff;
	margin-top:-110px;
	font-family: 'Open Sans', sans-serif;
	margin-right:-150px;} */
	
	
	
/* .residential_yellow h5{
	font-size:15px;
	color:#ffffff;
	margin-right:-240px;
	font-family: 'Open Sans', sans-serif;
	}
	 */
	
	
	
	
	
	
	
	
	
/* .residential h3{font-size:28px;
	
	color:#ffffff;
	margin-top:-110px;
	font-family: 'Open Sans', sans-serif;
	margin-right:-150px;} */
	
	
	
/* .residential h5{
	font-size:15px;
	color:#ffffff;
	margin-right:-240px;
	font-family: 'Open Sans', sans-serif;
	} */
	
	
	
	
.residential_new{
   /* background-image:url('../images/Residential_new.png');  */
	/* background-color:#000; */
	height:180px;
	background-repeat:no-repeat;
	background-size:100%;
	-webkit-background-size:100%;
	padding-top:10px;
	padding-right:30px;
	}
	
/* .residential_new h3{font-size:28px;
	
	color:#ffffff;
	margin-top:-120px;
	font-family: 'Open Sans', sans-serif;
	margin-right:-150px;} */
	

	
.commertial{
	/* background-image:url('../images/blue.png'); */
	/* background-color:#842828; */
	height:180px;
	background-repeat:no-repeat;
	background-size:100%;
	-webkit-background-size:100%;
	padding-top:10px;
	padding-right:30px;
	
}

/* .commertial h3{font-size:28px;
	
	color:#ffffff;
	margin-top:-125px;
	font-family: 'Open Sans', sans-serif;
	margin-right:-125px;} */
	
	
	
/* .commertial h5{
	font-size:15px;
	color:#ffffff;
	margin-right:-250px;
	font-family: 'Open Sans', sans-serif;
	}
 */

	
.commertial_new{
	/* background-image:url('../images/commercial.png'); */
	height:160px;
	background-repeat:no-repeat;
	background-size:100%;
	-webkit-background-size:100%;
	padding-top:10px;
	padding-right:30px;
	/* background-color:#333; */
	
	}



/* .commertial_new h3{font-size:28px;
	
	color:#ffffff;
	margin-top:-105px;
	margin-right:10px;
	font-family: 'Open Sans', sans-serif;
	margin-right:-150px;} */
	
	
.agriculture{
	/* background-image:url('../images/green.png'); */
	height:160px;
	background-repeat:no-repeat;
	background-size:100%;
	-webkit-background-size:100%;
	padding-top:10px;
	padding-right:30px;
	/* background-color:#333; */
	
	}

/* .agriculture h3{font-size:28px;
	
	color:#ffffff;
	margin-top:-110px;
	font-family: 'Open Sans', sans-serif;
	margin-right: -150px;} */
	
	
	
/* .agriculture h5{
	font-size:15px;
	color:#ffffff;
	margin-right: -250px;
	font-family: 'Open Sans', sans-serif;
	}	
	
	 */
	
	
	
.commercial_agri{
	/* background-image:url('../images/green.png'); */
	height:160px;
	background-repeat:no-repeat;
	background-size:100%;
	-webkit-background-size:100%;
	padding-top:10px;
	padding-right:30px;
	/* background-color:#333; */
}


/* .commercial_agri h3
{font-size:28px;
	color:#ffffff;
	margin-top:-105px;
	margin-right:10px;
	font-family: 'Open Sans', sans-serif;
	margin-right:-150px;
	} */





.agriculture_new{
	/* background-image:url('../images/agriculture.png'); */
	height:180px;
	background-repeat:no-repeat;
	background-size:100%;
	-webkit-background-size:100%;
	padding-top:10px;
	padding-right:30px;
	/* background-color:#333; */
	
	}

	
/* .agriculture_new h3{font-size:28px;
	
	color:#ffffff;
	margin-top:-125px;
	font-family: 'Open Sans', sans-serif;
	margin-right: -150px;} */
	
	
	
/* .agriculture_new h5{
	font-size:15px;
	color:#ffffff;
	margin-right: -230px;
	font-family: 'Open Sans', sans-serif;
	}	 */
	
	
	
	
	
.bg_gray{
	
	padding-left:5%;
	padding-right:5%;
	/* overflow:hidden; */
	/* padding-top:30px; */
}


.rent{
	
width:100%;
/* background-color:#eee; */
padding-top:20px;
padding-bottom:20px;	
}

.rent h2{
	color:#727272;
	font-size:25px;
	
	}

.bg_dark_gray{
	background-color:#f3f3f3;
	height:40px;
	padding-top:8px;
	padding-left:10px;
	padding-right:10px;
	font-size:16px;
	text-indent: 12px;
	font-family: 'Open Sans', sans-serif;
	
	}

.btn .caret{
	margin-left:52px;
	
}	
		
/*.col-md-4{
	margin-top:10px;
}
	
.col-md-3{
	margin-top:10px;
}*/

.business_place{
	width:100%;
	height:auto;
	/* background-color:#000; */
	padding-top:50px;
	padding-bottom:30px;
	}

.btn-danger{
	border-radius: 15px;
	background: #e41919;
	width:220px;
	font-family: 'Open Sans', sans-serif;
	font-size:18px;
	
}

.login{
    /* background-color:#5bc0de;  */
	margin-top:40px;
	font-family: 'Open Sans', sans-serif;
	font-size:15px;
	color:#000;
	text-transform:uppercase;
	margin-left:40%;
	padding-top:5px;
	padding-bottom:5px;
	text-align:right;
	padding-right:10px;
}


.hot_property{
	background-image:url('../images/hot_property.jpg');
	background-size:100%;
	/* -webkit-background-size:100%; */
	background-repeat:no-repeat;
	background-position:center top;
	min-height:700px;
	overflow:hidden;
	padding-top: 15%;
	padding-bottom:5px;
	}
	
	
.hot_property_agri{
	background-image:url('../images/agri_background.jpg');
	background-size:100%;
	/* -webkit-background-size:100%; */
	background-repeat:no-repeat;
	background-position:center top;
	min-height:700px;
	overflow:hidden;
	padding-top: 15%;
	padding-bottom:5px;
	}	
	
	
	
.hot_property_resi{
	background-image:url('../images/Residential_bakground.jpg');
	background-size:100%;
	/* -webkit-background-size:100%; */
	background-repeat:no-repeat;
	background-position:center top;
	min-height:700px;
	overflow:hidden;
	padding-top: 15%;
	padding-bottom:5px;
	}		
	
	
	
.hot_property_resi h2{
	font-family: 'Open Sans', sans-serif;
	font-size:32px;
	color:#727272;
	font-weight:400;
	margin-bottom:20px;
}
	
.hot_property h2{
	font-family: 'Open Sans', sans-serif;
	font-size:32px;
	color:#727272;
	font-weight:400;
	margin-bottom:20px;
}

.hot_property_agri h2{
	font-family: 'Open Sans', sans-serif;
	font-size:32px;
	color:#727272;
	font-weight:400;
	margin-bottom:20px;
}	


.btn-default{
	width:250px;
	background-color:#f3f3f3;
	border-radius: 0px;
	font-family: 'Open Sans', sans-serif;
	font-size:15px;
}	
	
.back1{
	background-image:url('../images/hot_property_block.png');
	background-repeat:no-repeat;
	background-size:100%;
	-webkit-background-size:100%;
	height:400px;
	padding-top:20px;
	padding-bottom:30px;
	margin-top:30px;
	}
	
	
.back1 h1{
	font-size:18px;
	color:#000;
	font-family: 'Open Sans', sans-serif;
	margin-left:10px;
	}

.back1 h2{
	font-size:18px;
	color:#000;
	font-family: 'Open Sans', sans-serif;
	margin-top:40px;
	margin-left:10px;
	font-weight:400;
	}
	
	
.back1 h3{
	font-size:18px;
	color:#ffffff;
	font-family: 'Open Sans', sans-serif;
	margin-top:60px;
	margin-left:10px;
	}	
	
	
.back1 h4{
	font-size:18px;
	color:#000;
	font-family: 'Open Sans', sans-serif;
	margin-top:60px;
	margin-left:10px;
	}	
	
.back2{
	background-image:url('../images/area_name.jpg');
	background-repeat:no-repeat;
	background-size:100%;
	-webkit-background-size:100%;
	background-color:#ffffff;
	height:382px;
	margin-top:37px;
	
	}
	
.back3{
	/* background-color:#000; */
	height:auto;
	margin-top:27px;
	padding-top:10px;
	padding-bottom:20px;
	}	
	

.back5{
	background-color:#f3f3f3;
	height:auto;
	padding:15px;
	}
	
	
.back6{
	background-color:#e6e6e6;
	height:auto;
	padding:15px;
	}

	
	
.mall{
	padding-top:15px;
	font-family: 'Open Sans', sans-serif;
	font-size:14px;
	padding-top:15px;
	}
	
	
/* .mall_new{
	padding-top:15px;}	 */
	
	

/* .mall button{
	background-color:#ffbe0e;
	width:80px;
	} */

.button1{background-color: #ffbe0e;
font-size: 16px;
padding-left:10px;
padding-right:10px;
padding-top:5px;
padding-bottom:5px;
height:30px;
border: none;
text-align: center;
 margin-top:15px;
    } 
	
	
.button2{background-color: #ff7f0e;
font-size: 16px;
padding-left:10px;
padding-right:10px;
padding-top:5px;
padding-bottom:5px;
height:30px;
border: none;
text-align: center;
 margin-top:6px;
 color:#ffffff;
    
} 
.button3{background-color: #e41919;
font-size: 14px;
width:100px;
color:#ffffff;
border: none;
 text-align: center;
 border-radius: 25px;   
 height:25px;
 margin-top:6px;
} 


.button4{background-color: #ffbe0e;
font-size: 16px;
width:80px;
height:30px;
border: none;
text-align: center;
 margin-top:8px;
    
} 


.button5{
background-color: #ff7f0e;
font-size: 16px;
width:100px;
height:30px;
border: none;
 text-align: center;
  margin-top:6px;
  color:#ffffff;
    
} 


.add{
	margin-top:7px;
	font-size:12px;
	font-family: 'Open Sans', sans-serif;
}

.add1{
	margin-top:5px;
}

.add3{
	margin-top:10px;
}


.add2{
	margin-top:-5px;
}


.ups{
	width:100%;
	background-color:#ffffff;
	padding-bottom:30px;
	padding-top:30px;
}

.ups1{
	
	padding-top:20px;
	padding-bottom:20px;
}


.ups h1{
	font-size:32px;
	font-family: 'Open Sans', sans-serif;
	color:#727272;
	font-weight:400;
	}
	
.ups h3{
	font-size:15px;
	font-family: 'Open Sans', sans-serif;
	color:#727272;
	text-transform:uppercase;
	}	

.ups p{
	font-size:18px;
	font-family: 'Open Sans', sans-serif;
	color:#727272;
	margin-top:20px;
	}
	
	
.about{
	width:100%;
	background-color:#6a737c;
	padding-top:20px;
	padding-bottom:20px;
	font-family: 'Open Sans', sans-serif;
	color:#ffffff;
	font-size:13px;
	overflow:hidden;
}

.about h2{
	font-family: 'Open Sans', sans-serif;
	color:#ffffff;
	font-size:18px;
}

.social [class*="fa fa-facebook"] {
    background-color: #3b5898;
    border-radius: 30px;
    color: #fff;
    display: inline-block;
    height: 40px;
    line-height: 30px;
    margin: auto 3px;
    width: 40px;
    font-size: 15px;
    text-align: center;
	padding-top: 5px;
	margin-top:10px;
	
}	
	
.social_1 [class*="fa fa-twitter"] {
    background-color: #00aee7;
    border-radius: 30px;
    color: #fff;
    display: inline-block;
    height: 40px;
    line-height: 30px;
    margin: auto 3px;
    width: 40px;
    font-size: 15px;
    text-align: center;
	padding-top: 5px;
	margin-top:10px;
}		
	
.social_2 [class*="fa fa-google-plus"] {
    background-color: #e3483e;
    border-radius: 30px;
    color: #fff;
    display: inline-block;
    height: 40px;
    line-height: 30px;
    margin: auto 3px;
    width: 40px;
    font-size: 15px;
    text-align: center;
	padding-top: 5px;
	margin-top:10px;
}		
	

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #fff;
    background-color: #3b5898;
}
	
.nav>li>a {
    position: relative;
    display: block;
    padding: 10px;
	padding-top:5px;
	padding-bottom:5px;
}
	
.carousel-inner > .item > img,
 .carousel-inner > .item > a > img {
  width: 100%;
  margin: auto;}





@media  (min-width: 768px) and (max-width: 991px){
	
	
.hot_property{
	/* background-image:url('../images/hot_property.jpg'); */
	padding-left:12%;
	/* padding-top:30%; */
	padding-bottom:20px;
	background-repeat:no-repeat;
	background-color:#e8e8e8;
	position:center top;
		}
		
		
.hot_property_agri{
	/* background-image:url('../images/hot_property.jpg'); */
	padding-left:12%;
	/* padding-top:30%; */
	padding-bottom:20px;
	background-repeat:no-repeat;
	background-color:#e8e8e8;
	position:center top;
}		
	

.hot_property_resi{
	/* background-image:url('../images/hot_property.jpg'); */
	padding-left:12%;
	/* padding-top:30%; */
	padding-bottom:20px;
	background-repeat:no-repeat;
	background-color:#e8e8e8;
	position:center top;
}		
	
	

	
 .hot_property h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 32px;
    color: #727272;
    font-weight: lighter;
    margin-right: 40px;
}	
	
	
.hot_property_agri h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 32px;
    color: #727272;
    font-weight: lighter;
    margin-right: 40px;
}		
	
	
	
.hot_property_resi h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 32px;
    color: #727272;
    font-weight: lighter;
    margin-right: 40px;
}		
	
	
	
	
	
	
.back1{
	
	width:40%;
   }

.back1 h1{
	font-size:18px;
	color:#000;
	font-family: 'Open Sans', sans-serif;
	margin-left:10px;
	font-weight:400;
	width:150px;
	margin-bottom:10px;
	}
	

.back1 h2{
	font-size:18px;
	color:#000;
	font-family: 'Open Sans', sans-serif;
	margin-top:50px;
	margin-left:10px;
	font-weight:400;
	width:150px;
	}
	
	
.back1 h3{
	font-size:18px;
	color:#ffffff;
	font-family: 'Open Sans', sans-serif;
	margin-top:45px;
	margin-left:10px;
	font-weight:400;
	width:150px;
	}	
	
	
.back1 h4{
	font-size:18px;
	color:#000;
	font-family: 'Open Sans', sans-serif;
	margin-top:70px;
	margin-left:10px;
	font-weight:400;
	width:150px;
	}	

.back2{
	background-color:#eee;
	width:40%;
   }
 
 
 .back3 {
    /* background-color: #faa9a9; */
    height: auto;
    margin-top: 10px;
	width:600px;
	padding-top:10px;
	padding-bottom:10px;
}
 
 
.bg{
	/* background-color:#000; */
	padding-left:5%;
	padding-right:5%;
	height:auto;
	padding-top:10px;
	padding-bottom:10px;
	
	} 
 
  .login{
    /* background-color:#5bc0de;  */
	margin-top:-80px;
	font-family: 'Open Sans', sans-serif;
	font-size:15px;
	color:#000;
	text-transform:uppercase;
	margin-left:40%;
	padding-top:5px;
	padding-bottom:5px;
	text-align:right;
	padding-right:10px;
} 
	
}
	
	
	
	
@media (max-width: 500px) {
		
	
.container{
	
	width:100%;
}

.residential{
   
	margin-top:5px;
	background-repeat:no-repeat;
	background-size:100%;
	-webkit-background-size:100%;
	}
	
		
.commertial{
		margin-top:15px;
		background-repeat:no-repeat;
	    background-size:100%;
	   -webkit-background-size:100%;
		
		}
		
.agriculture{
		margin-top:10px;
		background-repeat:no-repeat;
	     background-size:100%;
	    -webkit-background-size:100%;
		
		}
	

.bg_white{
	
	padding-top:40px;
	
}

.bg_white h2{
	font-size:20px;
	margin-bottom:10px;
	font-weight:400;
	
	}
	
	.btn-default{
		width:200px;
	}







	
.hot_property{
	background-image:url('../images/hot_property.jpg');
	padding-left:25%;
	background-color:#e8e8e8;
	padding-bottom:10px;
	background-repeat:no-repeat;
	height:auto;
   
	}	
	
	
	
.hot_property_agri{
	background-image:url('../images/agri_background.jpg');
	padding-left:25%;
	background-color:#e8e8e8;
	
	padding-bottom:10px;
	background-repeat:no-repeat;
	height:auto;
   
	}		
	
	
	
.hot_property_resi{
	background-image:url('../images/Residential_bakground');
	padding-left:25%;
	background-color:#e8e8e8;
	
	padding-bottom:10px;
	background-repeat:no-repeat;
	height:auto;
   
	}		
		
	
	
	
.hot_property h2{
	font-family: 'Open Sans', sans-serif;
	font-size:20px;
	margin-right:120px;
	margin-top:10px;
	font-weight:400;
	}
	
	
.hot_property_agri h2{
	font-family: 'Open Sans', sans-serif;
	font-size:20px;
	margin-right:120px;
	margin-top:10px;
	font-weight:400;
	}	
	
	
	
	
.hot_property_resi h2{
	font-family: 'Open Sans', sans-serif;
	font-size:20px;
	margin-right:120px;
	margin-top:10px;
	font-weight:400;
	}		
	
	
	

.back1{
	/* background-image:url('../images/hot_property_block.png'); */
	background-repeat:no-repeat;
	background-size:70%;
	-webkit-background-size:70%;
	height:400px;
	padding-top:20px;
	padding-bottom:30px;
	/* margin-left:50px; */
	margin-top:8px;
}

.back1 h1{
	font-size:14px;
	color:#000;
	font-family: 'Open Sans', sans-serif;
	margin-left:10px;
	font-weight:500;
	width:100px;
	margin-top:8px;
	}

.back1 h2{
	font-size:14px;
	color:#000;
	font-family: 'Open Sans', sans-serif;
	margin-top:30px;
	margin-left:-1px;
	font-weight:400;
	width:120px;
	font-weight:400
	
	
	}
	
	
.back1 h3{
	font-size:14px;
	color:#ffffff;
	font-family: 'Open Sans', sans-serif;
	margin-top:45px;
	margin-left:10px;
	
	width:130px;
	}	
	
	
.back1 h4{
	font-size:14px;
	color:#000;
	font-family: 'Open Sans', sans-serif;
	margin-top:30px;
	margin-left:10px;
	font-weight:400;
	width:120px;
	}	


.back2{
	
	margin-top:-120px;
	margin-left:9px; 
	height:220px;
	width:65%;
	background-color:#ffffff;
`}

.back3 {
    /* background-color: #faa9a9; */
	width:70%;
    height: auto;
    margin-top: 10px;
	/* margin-left: 10px; */
	padding-top:10px;
	padding-bottom:10px;
}

.about{
	text-align:center;
}



.bg{
	/* background-color:#b8de5b; */
	padding-left:20px;
	padding-right:15px;
	height:auto;
	padding-top:10px;
	padding-bottom:10px;
	
	} 


.login{
	width:100%;
   /*  background-color:#5bc0de;  */
	margin-top:10px;
	margin-left:-5px;
	font-family: 'Open Sans', sans-serif;
	font-size:15px;
	color:#000;
	text-transform:uppercase;
	padding-top:5px;
	padding-bottom:5px;
	
	padding-right:10px;
} 
}
.nav-tabs{ border:0;}
.nav-tabs > li{ margin-bottom:0}
.nav-tabs > li > a{ border:0; border-radius:0}
.nav-tabs > li > a.tab1{ background:url(../images/resi_new_tab_off.jpg) no-repeat left top; width:338px; height:144px; border:0;}
.nav-tabs > li > a.tab1:hover{ background:url(../images/resi_new_tab_on.jpg) no-repeat left top; width:338px; height:144px; border:0;}
.nav-tabs > li.tab1.active > a.tab1, .nav-tabs > li.tab1.active > a.tab1:focus, .nav-tabs > li.tab1.active > a:hover{ border:none;background:url(../images/resi_new_tab_active.jpg) no-repeat left top; width:338px; height:144px; border:0;}


.nav-tabs > li > a.tab2{ background:url(../images/com_new_tab_off.jpg) no-repeat left top; width:338px; height:144px; border:0;}
.nav-tabs > li > a.tab2:hover{ background:url(../images/com_new_tab_on.jpg) no-repeat left top; width:338px; height:144px; border:0;}
.nav-tabs > li.tab2.active > a.tab2, .nav-tabs > li.tab2.active > a.tab2:focus, .nav-tabs > li.tab2.active > a:hover{ border:none;background:url(../images/com_new_tab_active.jpg) no-repeat left top; width:338px; height:144px; border:0;}

.nav-tabs > li > a.tab3{ background:url(../images/agri_new_tab_off.jpg) no-repeat left top; width:338px; height:144px; border:0;}
.nav-tabs > li > a.tab3:hover{ background:url(../images/agri_new_tab_on.jpg) no-repeat left top; width:338px; height:144px; border:0;}
.nav-tabs > li.tab3.active > a.tab3, .nav-tabs > li.tab3.active > a.tab3:focus, .nav-tabs > li.tab3.active > a:hover{ border:none;background:url(../images/agri_new_tab_active.jpg) no-repeat left top; width:338px; height:144px; border:0;}



.tabs-left{
  border-bottom: none;
}
.tabs-left {
  border-right: 0px solid #ddd !important;
}

.tabs-left>li, .tabs-right>li {
  float: none;
  background:#ffbe0e; border-bottom:solid 2px #f0d690;
}
.tabs-left>li {
  margin-right: -1px;
}

.tabs-left>li.active>a,
.tabs-left>li.active>a:hover,
.tabs-left>li.active>a:focus {
  background:#ff7f0e /*url(../images/arrow.jpg) no-repeat right center*/;
  color:#fff; border-width:0;
}


.tabs-left>li>a {
  border-radius:0;
  margin-right: 0;
  display:block; font-family: 'Open Sans', sans-serif; font-size:25px; color:#262626; font-weight:400; padding:30px;
}
.tabs-left>li>a:hover { background:#ff7f0e; color:#fff;}



.area_tabs{
  border-bottom: none;
  padding-top: 2px; background:#fff; height:533px
}
.area_tabs {
  border-right: 0px solid #ddd !important;
}

.area_tabs>li{
  float: none;
  border-bottom:solid 0px #f0d690;
}
.area_tabs>li {
  margin-right: -1px;
}

.area_tabs>li.active>a,
.area_tabs>li.active>a:hover,
.area_tabs>li.active>a:focus {
  background:#f3f3f3 /*url(../images/arrow.jpg) no-repeat right center*/;
  color:#272727; border-width:0; margin:0 3px
}


.area_tabs>li>a {
  border-radius:0;
  margin-right: 0; background:#fff;
  display:block; font-family: 'Open Sans', sans-serif; font-size:25px; color:#272727; font-weight:300; padding:4px; text-align:center;
}

.area_tabs>li>a:hover { background:#f3f3f3; color:#272727; margin:0 3px}

.nopadding{ padding:0}
.nomargin{ margin:0}

.dd_resi{ background:#f3f3f3 url(../images/location_30km.png) no-repeat  11px 5px;}
.dd_resi2{ background:#f3f3f3 url(../images/select_area.png) no-repeat  11px 6px;}
.dd_resi3{ background:#f3f3f3 url(../images/bhk.png) no-repeat  11px 7px;}
.dd_resi4{ background:#f3f3f3 url(../images/select_budget.png) no-repeat  11px 6px;}

.wrapper-dropdown-3 {
    /* Size and position */
    position: relative;
    width: 250px;
    margin: 0 auto;
    padding:6px;

    /* Styles */
    border: 1px solid #a5a5a5;
    cursor: pointer;
    outline: none;

    /* Font settings */
     font-family: 'Open Sans', sans-serif; font-size:14px; color:#8e8e8e; padding-left:40px;
}

.wrapper-dropdown-3:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -3px;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: #a5a5a5 transparent;
}

.wrapper-dropdown-3 .dropdown {
  /* Size & position */
    position: absolute;
    top: 109%;
    left: 0;
    right: 0;

    /* Styles */
    background: white;
    border-radius: inherit;
    border: 1px solid rgba(0,0,0,0.17);
    font-weight: normal;
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
    list-style: none;
    /* Hiding */
    opacity: 0;
    pointer-events:auto; padding-left:0;
}

.wrapper-dropdown-3 .dropdown:after {
    /*content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    right: 15px;
    border-width: 0 6px 6px 6px;
    border-style: solid;
    border-color: #fff transparent;*/    
}

.wrapper-dropdown-3 .dropdown:before {
    /*content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    right: 13px;
    border-width: 0 8px 8px 8px;
    border-style: solid;
    border-color: rgba(0,0,0,0.1) transparent;*/    
}

.wrapper-dropdown-3 .dropdown li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #8aa8bd;
    border-bottom: 1px solid #e6e8ea;
    box-shadow: inset 0 1px 0 rgba(255,255,255,1);
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.wrapper-dropdown-3 .dropdown li i {
    float: right;
    color: inherit;
}

.wrapper-dropdown-3 .dropdown li:first-of-type a {
   /* border-radius: 7px 7px 0 0;*/
}

.wrapper-dropdown-3 .dropdown li:last-of-type a {
    border: none;
    border-radius: 0 0 7px 7px;
}

/* Hover state */

.wrapper-dropdown-3 .dropdown li:hover a {
    background: #f3f8f8;
}

/* Active state */

.wrapper-dropdown-3.active .dropdown {
    opacity: 1;
    pointer-events: auto; z-index:1;
}

/* No CSS3 support */

.no-opacity       .wrapper-dropdown-3 .dropdown,
.no-pointerevents .wrapper-dropdown-3 .dropdown {
    display: none;
    opacity: 1; /* If opacity support but no pointer-events support */
    pointer-events: auto; /* If pointer-events support but no pointer-events support */
}

.no-opacity       .wrapper-dropdown-3.active .dropdown,
.no-pointerevents .wrapper-dropdown-3.active .dropdown {
    display: block;
}

.wrapper-dropdown-3:focus .dropdown {
    opacity: 1;
    pointer-events: auto;
}


.wrapper-dropdown-4 {
    /* Size and position */
    position: relative;
    width: 250px;
    margin: 0 auto;
    padding: 6px 40px;

    /* Styles */
    border: 1px solid #a5a5a5;
    cursor: pointer;
    outline: none;
}

.wrapper-dropdown-4:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -3px;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: #a5a5a5 transparent;
}

.wrapper-dropdown-4 .dropdown {
    /* Size & position */
    position: absolute;
    top: 100%;
    margin-top: 1px;
    left: -1px;
    right: -1px;

    /* Styles */
    background: white;
    border: inherit;
    border-top: none;
    list-style: none;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  
    /* Hiding */
    opacity: 0;
    pointer-events: none;
}

/* Red lines: the pseudo-elements way */
.wrapper-dropdown-4 .dropdown:before,
.wrapper-dropdown-4:before {
    height: 100%;
    position: absolute;
    top: 0;
    left: 15px;
    border-top: none;
    border-bottom: none;
    z-index: 2; padding-left:0;
}

/* Red lines: the gradients way */

/*
.wrapper-dropdown-4 .dropdown,
.wrapper-dropdown-4 {
  background: linear-gradient(left, white 5%, #ffaa9f 5%, #ffaa9f 5.3%, white 5.3%, white 6.5%, #ffaa9f 6.5%, #ffaa9f 6.8%, white 6.8%);
}

.wrapper-dropdown-4 .dropdown li:hover label {
  background: linear-gradient(left, #f0F0F0 5%, #ffaa9f 5%, #ffaa9f 5.3%, #f0F0F0 5.3%, #f0F0F0 6.5%, #ffaa9f 6.5%, #ffaa9f 6.8%, #f0F0F0 6.8%);
}
*/

.wrapper-dropdown-4 .dropdown li {
    position: relative; /* Enable absolute positioning for checkboxes */
}

.wrapper-dropdown-4 .dropdown li label {
    display: block;
    padding: 10px 10px 10px 30px; /* Same padding as the button */
    border-bottom: 1px dotted #1ccfcf;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.wrapper-dropdown-4 .dropdown li:last-of-type label {
    border: none;
}

.wrapper-dropdown-4 .dropdown li input /* Checkboxes */ {
    position: absolute;
    display: block;
    right: 10px;
    top: 50%;
    margin-top: -8px;
}

/* Hover state */

.wrapper-dropdown-4 .dropdown li:hover label {
    background: #f0f0f0;
}

/* Checked state */

.wrapper-dropdown-4 .dropdown li input:checked ~ label {
    color: grey;
}

/* Active state */

.wrapper-dropdown-4.active:after {
    border-width: 0 6px 6px 6px;
}

.wrapper-dropdown-4.active .dropdown {
    opacity: 1;
    pointer-events: auto; padding-left:0; z-index:1;
}

/* No CSS3 support */

.no-opacity       wrapper-dropdown-4 .dropdown,
.no-pointerevents .wrapper-dropdown-4 .dropdown {
    display: none;
    opacity: 1; /* If opacity support but no pointer-events support */
    pointer-events: auto; /* If pointer-events support but no pointer-events support */
}

.no-opacity       .wrapper-dropdown-4.active .dropdown,
.no-pointerevents .wrapper-dropdown-4.active .dropdown {
    display: block;
}


.wrapper-dropdown-4:focus .dropdown {
    opacity: 1;
    pointer-events: auto;
}


.wrapper-dropdown-4:focus:after {
    border-width: 0 6px 6px 6px;
}

.footer_links ul{ padding:0; margin:0}
.footer_links ul li{ list-style:none; padding:2px 0;}
.footer_links ul li a{ color:#ccced0; font-size:14px;}
.footer_links ul li a:hover{ color:#fff; text-decoration:none}
.social_links{ margin:0}
.social_links div a{ color:#ccced0; font-size:16px;}
.social_links div a:hover{ color:#fff !important; text-decoration:none !important}