@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
a, a:hover{ text-decoration:none}
body{ margin:0; padding:0;font-family: 'Open Sans', sans-serif; font-size:13px; color:#646464;}
.logo img{ width:150px; margin:10px 0;}
/* CSS Document */

.radio-button input[type="radio"]:checked + a {
  z-index: 2;
  color: #fff;
  background-color: #428bca;
  border-color: #428bca;
  cursor: default;
}
.radio-button label {
  padding: 6px 12px;
  margin-bottom: 0px;
  cursor: pointer;
}
.radio-button .pagination > li > a {
  padding: 0px;
}
.radio-button input[type="radio"] {
  width: 0px;
  height: 0px;
  position: absolute;
  color: transparent;
  visibility: hidden;
}


.header_right{ margin-top:18px;}
.bg{
	/* background-color:#eee; */
	padding-left:5%;
	padding-right:5%;
	height:auto;
	padding-top:10px;
	padding-bottom:10px;
	
	}
	
.bg_white{
	/* background-color:#f3f3f3; */
	}	
	
.bg_white h2{
	
	font-family: 'Open Sans', sans-serif;
	font-size:30px;
	color:#999;
	font-weight:400; margin:20px 0 15px 0;
}	

.bg_white1{
	
	/* background-color:#000; */
	padding-top:10px;
	overflow:hidden;
}

.bg_white1 h2{
	
	/* background-color:#ffffff; */
	font-size:20px;
	color:#777;
	margin-top:20px;
}

/* .bg_white1 h3{
	
   
	font-size:28px;
	color:#777;
	color:#ffffff;
	font-family: 'Open Sans', sans-serif;
	} */

	
.bg_white1 h4{
	
  	font-size:15px;
	color:#777;
	color:#ffffff;
	font-family: 'Open Sans', sans-serif;
	margin-right:-250px;
	
}

	

.bg_white1 h6{font-size:28px;
	
	color:#000;
	margin-top:-110px;
	font-family: 'Open Sans', sans-serif;
	margin-right:-150px;}
	
	
	
.bg_white1 h5{
	font-size:15px;
	color:#000;
	margin-right:-240px;
	font-family: 'Open Sans', sans-serif;
	}
	
	
	
	


.residential{
   /* background-image:url('../images/yellow.jpg');  */
	/* background-color:#000; */
	height:160px;
	background-repeat:no-repeat;
	background-size:100%;
	-webkit-background-size:100%;
	padding-top:10px;
	padding-right:30px;
	}
	
	
.residential_yellow{
   /* background-image:url('../images/yellow.jpg');  */
	/* background-color:#000; */
	height:160px;
	background-repeat:no-repeat;
	background-size:100%;
	-webkit-background-size:100%;
	padding-top:10px;
	padding-right:30px;
	}	
	
	
	
/* .residential_yellow h3{font-size:28px;
	
	color:#ffffff;
	margin-top:-110px;
	font-family: 'Open Sans', sans-serif;
	margin-right:-150px;} */
	
	
	
/* .residential_yellow h5{
	font-size:15px;
	color:#ffffff;
	margin-right:-240px;
	font-family: 'Open Sans', sans-serif;
	}
	 */
	
	
	
	
	
	
	
	
	
/* .residential h3{font-size:28px;
	
	color:#ffffff;
	margin-top:-110px;
	font-family: 'Open Sans', sans-serif;
	margin-right:-150px;} */
	
	
	
/* .residential h5{
	font-size:15px;
	color:#ffffff;
	margin-right:-240px;
	font-family: 'Open Sans', sans-serif;
	} */
	
	
	
	
.residential_new{
   /* background-image:url('../images/Residential_new.png');  */
	/* background-color:#000; */
	height:180px;
	background-repeat:no-repeat;
	background-size:100%;
	-webkit-background-size:100%;
	padding-top:10px;
	padding-right:30px;
	}
	
/* .residential_new h3{font-size:28px;
	
	color:#ffffff;
	margin-top:-120px;
	font-family: 'Open Sans', sans-serif;
	margin-right:-150px;} */
	

	
.commertial{
	/* background-image:url('../images/blue.png'); */
	/* background-color:#842828; */
	height:180px;
	background-repeat:no-repeat;
	background-size:100%;
	-webkit-background-size:100%;
	padding-top:10px;
	padding-right:30px;
	
}

/* .commertial h3{font-size:28px;
	
	color:#ffffff;
	margin-top:-125px;
	font-family: 'Open Sans', sans-serif;
	margin-right:-125px;} */
	
	
	
/* .commertial h5{
	font-size:15px;
	color:#ffffff;
	margin-right:-250px;
	font-family: 'Open Sans', sans-serif;
	}
 */

	
.commertial_new{
	/* background-image:url('../images/commercial.png'); */
	height:160px;
	background-repeat:no-repeat;
	background-size:100%;
	-webkit-background-size:100%;
	padding-top:10px;
	padding-right:30px;
	/* background-color:#333; */
	
	}



/* .commertial_new h3{font-size:28px;
	
	color:#ffffff;
	margin-top:-105px;
	margin-right:10px;
	font-family: 'Open Sans', sans-serif;
	margin-right:-150px;} */
	
	
.agriculture{
	/* background-image:url('../images/green.png'); */
	height:160px;
	background-repeat:no-repeat;
	background-size:100%;
	-webkit-background-size:100%;
	padding-top:10px;
	padding-right:30px;
	/* background-color:#333; */
	
	}

/* .agriculture h3{font-size:28px;
	
	color:#ffffff;
	margin-top:-110px;
	font-family: 'Open Sans', sans-serif;
	margin-right: -150px;} */
	
	
	
/* .agriculture h5{
	font-size:15px;
	color:#ffffff;
	margin-right: -250px;
	font-family: 'Open Sans', sans-serif;
	}	
	
	 */
	
	
	
.commercial_agri{
	/* background-image:url('../images/green.png'); */
	height:160px;
	background-repeat:no-repeat;
	background-size:100%;
	-webkit-background-size:100%;
	padding-top:10px;
	padding-right:30px;
	/* background-color:#333; */
}


/* .commercial_agri h3
{font-size:28px;
	color:#ffffff;
	margin-top:-105px;
	margin-right:10px;
	font-family: 'Open Sans', sans-serif;
	margin-right:-150px;
	} */





.agriculture_new{
	/* background-image:url('../images/agriculture.png'); */
	height:180px;
	background-repeat:no-repeat;
	background-size:100%;
	-webkit-background-size:100%;
	padding-top:10px;
	padding-right:30px;
	/* background-color:#333; */
	
	}

	
/* .agriculture_new h3{font-size:28px;
	
	color:#ffffff;
	margin-top:-125px;
	font-family: 'Open Sans', sans-serif;
	margin-right: -150px;} */
	
	
	
/* .agriculture_new h5{
	font-size:15px;
	color:#ffffff;
	margin-right: -230px;
	font-family: 'Open Sans', sans-serif;
	}	 */
	
	
	
	
	
.bg_gray{
	
	padding-left:5%;
	padding-right:5%;
	/* overflow:hidden; */
	/* padding-top:30px; */
}


.rent{
	
width:100%;
/* background-color:#eee; */
padding-top:20px;
padding-bottom:10px;	
}

.rent h2{
	color:#727272;
	font-size:25px;
	
	}

.bg_dark_gray{
	background-color:#f3f3f3;
	height:40px;
	padding-top:8px;
	padding-left:10px;
	padding-right:10px;
	font-size:16px;
	text-indent: 12px;
	font-family: 'Open Sans', sans-serif;
	
	}

.btn .caret{
	margin-left:10%;
	
}	
		
/*.col-md-4{
	margin-top:10px;
}
	
.col-md-3{
	margin-top:10px;
}*/

.business_place{
	width:100%;
	height:auto;
	/* background-color:#000; */
	padding-top:10px;
	padding-bottom:20px;
	}

.btn-danger{
	border-radius: 15px;
	background: #e41919;
	width:220px;
	font-family: 'Open Sans', sans-serif;
	font-size:18px;
	
}

.login{
    /* background-color:#5bc0de;  */
	margin-top:40px;
	font-family: 'Open Sans', sans-serif;
	font-size:15px;
	color:#000;
	text-transform:uppercase;
	margin-left:40%;
	padding-top:5px;
	padding-bottom:5px;
	text-align:right;
	padding-right:10px;
}


.hot_property{
	background-image:url('../images/hot_property.jpg');
	background-size:100%;
	/* -webkit-background-size:100%; */
	background-repeat:no-repeat;
	background-position:center -75px;
	min-height:1000px;
	overflow:hidden;
	padding-top:0;
	padding-bottom:5px;
	}
	
	
.hot_property_agri{
	background-image:url('../images/agri_background.jpg');
	background-size:100%;
	/* -webkit-background-size:100%; */
	background-repeat:no-repeat;
	background-position:center -45px;
	min-height:1000px;
	overflow:hidden;
	padding-top:0;
	padding-bottom:5px;
	}	
	
	
	
.hot_property_resi{
	background-image:url('../images/Residential_bakground.jpg');
	background-size:100%;
	/* -webkit-background-size:100%; */
	background-repeat:no-repeat;
	background-position:center -93px;
	height:1000px;
	overflow:hidden;
	padding-top:0;
	padding-bottom:5px;
	}		
.hot_property_resi_padding{  padding-top:200px}	
.hot_property_agri_padding{  padding-top:200px}	
.hot_property_padding{  padding-top:200px}	
	
	
.hot_property_resi h2{
	font-family: 'Open Sans', sans-serif;
	font-size:32px;
	color:#727272;
	font-weight:400;
	margin-bottom:20px;
}
	
.hot_property h2{
	font-family: 'Open Sans', sans-serif;
	font-size:32px;
	color:#727272;
	font-weight:400;
	margin-bottom:20px;
}

.hot_property_agri h2{
	font-family: 'Open Sans', sans-serif;
	font-size:32px;
	color:#727272;
	font-weight:400;
	margin-bottom:20px;
}	


.btn-default{
	width:250px;
	background-color:#f3f3f3;

	border-radius: 0px;
	font-family: 'Open Sans', sans-serif;
	font-size:15px;
}	
	
.back1{
	background-image:url('../images/hot_property_block.png');
	background-repeat:no-repeat;
	background-size:100%;
	-webkit-background-size:100%;
	height:400px;
	padding-top:20px;
	padding-bottom:30px;
	margin-top:30px;
	}
	
	
.back1 h1{
	font-size:18px;
	color:#000;
	font-family: 'Open Sans', sans-serif;
	margin-left:10px;
	}

.back1 h2{
	font-size:18px;
	color:#000;

	font-family: 'Open Sans', sans-serif;
	margin-top:40px;
	margin-left:10px;
	font-weight:400;
	}
	
	
.back1 h3{
	font-size:18px;
	color:#ffffff;
	font-family: 'Open Sans', sans-serif;
	margin-top:60px;
	margin-left:10px;
	}	
	
	
.back1 h4{
	font-size:18px;
	color:#000;
	font-family: 'Open Sans', sans-serif;
	margin-top:60px;
	margin-left:10px;
	}	
	
.back2{
	background-image:url('../images/area_name.jpg');
	background-repeat:no-repeat;
	background-size:100%;
	-webkit-background-size:100%;
	background-color:#ffffff;
	height:382px;
	margin-top:37px;
	
	}
	
.back3{
	/* background-color:#000; */
	height:auto;
	margin-top:27px;
	padding-top:10px;
	padding-bottom:20px;
	}	
	

.back5{
	background-color:#f3f3f3;
	height:auto;
	padding:15px;
	}
	
	
.back6{
	background-color:#e6e6e6;
	height:auto;
	padding:15px;
	}

	
	
.mall{
	padding-top:15px;
	font-family: 'Open Sans', sans-serif;
	font-size:14px;
	padding-top:15px;
	}
	
	
/* .mall_new{
	padding-top:15px;}	 */
	
	

/* .mall button{
	background-color:#ffbe0e;
	width:80px;
	} */

.button1{background-color: #ffbe0e;
font-size: 16px;
padding-left:10px;
padding-right:10px;
padding-top:5px;
padding-bottom:5px;
height:30px;
border: none;
text-align: center;
 margin-top:15px;
    } 
	
	
.button2{background-color: #ff7f0e;
font-size: 16px;
padding-left:10px;
padding-right:10px;
padding-top:5px;
padding-bottom:5px;
height:30px;
border: none;
text-align: center;
 margin-top:6px;
 color:#ffffff;
    
} 
.button3{background-color: #e41919;
font-size: 14px;
width:100px;
color:#ffffff;
border: none;
 text-align: center;
 border-radius: 25px;   
 height:25px;
 margin-top:6px;
} 


.button4{background-color: #ffbe0e;
font-size: 16px;
width:80px;
height:30px;
border: none;
text-align: center;
 margin-top:8px;
    
} 


.button5{
background-color: #ff7f0e;
font-size: 16px;
width:100px;
height:30px;
border: none;
 text-align: center;
  margin-top:6px;
  color:#ffffff;
    
} 


.add{
	margin-top:7px;
	font-size:12px;
	font-family: 'Open Sans', sans-serif;
}

.add1{
	margin-top:5px;
}

.add3{
	margin-top:10px;
}


.add2{
	margin-top:-5px;
}


.ups{
	width:100%;
	background-color:#ffffff;
	padding-bottom:30px;
	padding-top:30px;
}

.ups1{
	
	padding-top:20px;
	padding-bottom:20px;
}


.ups h1{
	font-size:32px;
	font-family: 'Open Sans', sans-serif;
	color:#727272;
	font-weight:400;
	}
	
.ups h3{
	font-size:15px;
	font-family: 'Open Sans', sans-serif;
	color:#727272;
	text-transform:uppercase;
	}	

.ups p{
	font-size:18px;
	font-family: 'Open Sans', sans-serif;
	color:#727272;
	margin-top:20px;
	}
	
	
.about{
	width:100%;
	background-color:#6a737c;
	padding-top:20px;
	padding-bottom:20px;
	font-family: 'Open Sans', sans-serif;
	color:#ffffff;
	font-size:13px;
	overflow:hidden;
}

.about h2{
	font-family: 'Open Sans', sans-serif;
	color:#ffffff;
	font-size:18px;
}

.social [class*="fa fa-facebook"] {
    background-color: #3b5898;
    border-radius: 30px;
    color: #fff;
    display: inline-block;
    height: 40px;
    line-height: 30px;
    margin: auto 3px;
    width: 40px;
    font-size: 15px;
    text-align: center;
	padding-top: 5px;
	margin-top:10px;
	
}	
	
.social_1 [class*="fa fa-twitter"] {
    background-color: #00aee7;
    border-radius: 30px;
    color: #fff;
    display: inline-block;
    height: 40px;
    line-height: 30px;
    margin: auto 3px;
    width: 40px;
    font-size: 15px;
    text-align: center;
	padding-top: 5px;
	margin-top:10px;
}		
	
.social_2 [class*="fa fa-google-plus"] {
    background-color: #e3483e;
    border-radius: 30px;
    color: #fff;
    display: inline-block;
    height: 40px;
    line-height: 30px;
    margin: auto 3px;
    width: 40px;
    font-size: 15px;
    text-align: center;
	padding-top: 5px;
	margin-top:10px;
}		
	

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #fff;
    background-color: #3b5898;
}
	
.nav>li>a {
    position: relative;
    display: block;
    padding: 10px;
	padding-top:5px;
	padding-bottom:5px;
}
	
.carousel-inner > .item > img,
 .carousel-inner > .item > a > img {
  width: 100%;
  margin: auto;}





@media  (min-width: 768px) and (max-width: 991px){
	
	
.hot_property{
	/* background-image:url('../images/hot_property.jpg'); */
	padding-left:12%;
	/* padding-top:30%; */
	padding-bottom:20px;
	background-repeat:no-repeat;
	background-color:#e8e8e8;
	position:center top;
		}
		
		
.hot_property_agri{
	/* background-image:url('../images/hot_property.jpg'); */
	padding-left:12%;
	/* padding-top:30%; */
	padding-bottom:20px;
	background-repeat:no-repeat;
	background-color:#e8e8e8;
	position:center top;
}		
	

.hot_property_resi{
	/* background-image:url('../images/hot_property.jpg'); */
	padding-left:12%;
	/* padding-top:30%; */
	padding-bottom:20px;
	background-repeat:no-repeat;
	background-color:#e8e8e8;
	position:center top;
}		
	
	

	
 .hot_property h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 32px;
    color: #727272;
    font-weight: lighter;
    margin-right: 40px;
}	
	
	
.hot_property_agri h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 32px;
    color: #727272;
    font-weight: lighter;
    margin-right: 40px;
}		
	
	
	
.hot_property_resi h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 32px;
    color: #727272;
    font-weight: lighter;
    margin-right: 40px;
}		
	
	
	
	
	
	
.back1{
	
	width:40%;
   }

.back1 h1{
	font-size:18px;
	color:#000;
	font-family: 'Open Sans', sans-serif;
	margin-left:10px;
	font-weight:400;
	width:150px;
	margin-bottom:10px;
	}
	

.back1 h2{
	font-size:18px;
	color:#000;
	font-family: 'Open Sans', sans-serif;
	margin-top:50px;
	margin-left:10px;
	font-weight:400;
	width:150px;
	}
	
	
.back1 h3{
	font-size:18px;
	color:#ffffff;
	font-family: 'Open Sans', sans-serif;
	margin-top:45px;
	margin-left:10px;
	font-weight:400;
	width:150px;
	}	
	
	
.back1 h4{
	font-size:18px;
	color:#000;
	font-family: 'Open Sans', sans-serif;
	margin-top:70px;
	margin-left:10px;
	font-weight:400;
	width:150px;
	}	

.back2{
	background-color:#eee;
	width:40%;
   }
 
 
 .back3 {
    /* background-color: #faa9a9; */
    height: auto;
    margin-top: 10px;
	width:600px;
	padding-top:10px;
	padding-bottom:10px;
}
 
 
.bg{
	/* background-color:#000; */
	padding-left:5%;
	padding-right:5%;
	height:auto;
	padding-top:10px;
	padding-bottom:10px;
	
	} 
 
  .login{
    /* background-color:#5bc0de;  */
	margin-top:-80px;
	font-family: 'Open Sans', sans-serif;
	font-size:15px;
	color:#000;
	text-transform:uppercase;
	margin-left:40%;
	padding-top:5px;
	padding-bottom:5px;
	text-align:right;
	padding-right:10px;
} 
	
}
	
	
	
	
@media (max-width: 500px) {
		
	
.container{
	
	width:100%;
}

.residential{
   
	margin-top:5px;
	background-repeat:no-repeat;
	background-size:100%;
	-webkit-background-size:100%;
	}
	
		
.commertial{
		margin-top:15px;
		background-repeat:no-repeat;
	    background-size:100%;
	   -webkit-background-size:100%;
		
		}
		
.agriculture{
		margin-top:10px;
		background-repeat:no-repeat;
	     background-size:100%;
	    -webkit-background-size:100%;
		
		}
	

.bg_white{
	
	padding-top:40px;
	
}

.bg_white h2{
	font-size:20px;
	margin-bottom:10px;
	font-weight:400;
	
	}
	
	.btn-default{
		width:200px;
	}







	
.hot_property{
	background-image:url('../images/hot_property.jpg');
	padding-left:25%;
	background-color:#e8e8e8;
	padding-bottom:10px;
	background-repeat:no-repeat;
	height:auto;
   
	}	
	
	
	
.hot_property_agri{
	background-image:url('../images/agri_background.jpg');
	padding-left:25%;
	background-color:#e8e8e8;
	
	padding-bottom:10px;
	background-repeat:no-repeat;
	height:auto;
   
	}		
	
	
	
.hot_property_resi{
	background-image:url('../images/Residential_bakground');
	padding:0 0 0 25%;
	background-color:#e8e8e8;
	
	padding-bottom:10px;
	background-repeat:no-repeat;
	height:auto;
   
	}		
		
	
	
	
.hot_property h2{
	font-family: 'Open Sans', sans-serif;
	font-size:20px;
	margin-right:120px;
	margin-top:10px;
	font-weight:400;
	}
	
	
.hot_property_agri h2{
	font-family: 'Open Sans', sans-serif;
	font-size:20px;
	margin-right:120px;
	margin-top:10px;
	font-weight:400;
	}	
	
	
	
	
.hot_property_resi h2{
	font-family: 'Open Sans', sans-serif;
	font-size:20px;
	margin-right:120px;
	margin-top:10px;
	font-weight:400;
	}		
	
	
	

.back1{
	/* background-image:url('../images/hot_property_block.png'); */
	background-repeat:no-repeat;
	background-size:70%;
	-webkit-background-size:70%;
	height:400px;
	padding-top:20px;
	padding-bottom:30px;
	/* margin-left:50px; */
	margin-top:8px;
}

.back1 h1{
	font-size:14px;
	color:#000;
	font-family: 'Open Sans', sans-serif;
	margin-left:10px;
	font-weight:500;
	width:100px;
	margin-top:8px;
	}

.back1 h2{
	font-size:14px;
	color:#000;
	font-family: 'Open Sans', sans-serif;
	margin-top:30px;
	margin-left:-1px;
	font-weight:400;
	width:120px;
	font-weight:400
	
	
	}
	
	
.back1 h3{
	font-size:14px;
	color:#ffffff;
	font-family: 'Open Sans', sans-serif;
	margin-top:45px;
	margin-left:10px;
	
	width:130px;
	}	
	
	
.back1 h4{
	font-size:14px;
	color:#000;
	font-family: 'Open Sans', sans-serif;
	margin-top:30px;
	margin-left:10px;
	font-weight:400;
	width:120px;
	}	


.back2{
	
	margin-top:-120px;
	margin-left:9px; 
	height:220px;
	width:65%;
	background-color:#ffffff;
`}

.back3 {
    /* background-color: #faa9a9; */
	width:70%;
    height: auto;
    margin-top: 10px;
	/* margin-left: 10px; */
	padding-top:10px;
	padding-bottom:10px;
}

.about{
	text-align:center;
}



.bg{
	/* background-color:#b8de5b; */
	padding-left:20px;
	padding-right:15px;
	height:auto;
	padding-top:10px;
	padding-bottom:10px;
	
	} 


.login{
	width:100%;
   /*  background-color:#5bc0de;  */
	margin-top:10px;
	margin-left:-5px;
	font-family: 'Open Sans', sans-serif;
	font-size:15px;
	color:#000;
	text-transform:uppercase;
	padding-top:5px;
	padding-bottom:5px;
	
	padding-right:10px;
} 
}
.nav-tabs{ border:0 !important;margin:0 auto; width:1050px; height: 140px;}
.nav-tabs > li{padding-left:10px;}
.nav-tabs > li > a{ border:0  !important; border-radius:0 !important; color:#fff; outline:none  !important;}
.nav-tabs > li > a h1{ font-size:37px; font-weight:300; text-align:right; margin:20px 20px 0 0;}
.nav-tabs > li > a h1 span{ font-size:15px; font-weight:500; float:right; margin-top:10px;}
.nav-tabs > li > a p.resi_img{ float:left; margin:70px 0 0 0;}
.nav-tabs > li > a p.comr_img{ float:left; margin:26px 0 0 0;}
.nav-tabs > li > a p.agri_img{ float:left; margin:46px 0 0 0;}
.nav-tabs > li > a.tab1{ background:#ffbe0e; width:338px; height:130px; border:0;}



.nav-tabs > li > a.tab1:hover{ background:#ffbe0e !important; width:338px !important; height:130px; border:0 !important;}
.nav-tabs > li.tab1.active > a.tab1, .nav-tabs > li.tab1.active > a.tab1:focus, .nav-tabs > li.tab1.active > a:hover{ border:none !important;background:#ffbe0e !important; width:338px; height:130px; border:0 !important; color:#fff !important;}


.nav-tabs > li >  a.tab1:hover:before{ content: "" !important;  border-top: 8px solid #ffbe0e !important;  border-right:10px solid transparent !important;  border-left: 10px solid transparent !important;  position: absolute !important;  bottom:-8px !important;  right:28px !important;  z-index: 10 !important;}

.nav-tabs > li.tab1.active:before{ content: "" !important;  border-top: 8px solid #ffbe0e !important;  border-right:10px solid transparent !important;  border-left: 10px solid transparent !important;  position: absolute !important;  bottom:-8px !important;  right:30px !important;  z-index: 10 !important;}


.nav-tabs > li > a.tab2{ background:#3db4f9; width:338px; height:130px; border:0;}
.nav-tabs > li > a.tab2:hover{ background:#3db4f9; width:338px; height:130px; border:0;}
.nav-tabs > li.tab2.active > a.tab2, .nav-tabs > li.tab2.active > a.tab2:focus, .nav-tabs > li.tab2.active > a:hover{ border:none;background:#3db4f9; width:338px; height:130px; border:0; color:#fff;}

.nav-tabs > li >  a.tab2:hover:before{ content: "";  border-top: 8px solid #3db4f9;  border-right:10px solid transparent;  border-left: 10px solid transparent;  position: absolute;  bottom:-8px;  right:28px;  z-index: 10;}

.nav-tabs > li.tab2.active:before{ content: "";  border-top: 8px solid #3db4f9;  border-right:10px solid transparent;  border-left: 10px solid transparent;  position: absolute;  bottom:-8px;  right:30px;  z-index: 10;}



.nav-tabs > li > a.tab3{ background:#9dc415; width:338px; height:130px; border:0;}
.nav-tabs > li > a.tab3:hover{ background:#9dc415; width:338px; height:130px; border:0;}
.nav-tabs > li.tab3.active > a.tab3, .nav-tabs > li.tab3.active > a.tab3:focus, .nav-tabs > li.tab3.active > a:hover{ border:none;background:#9dc415; width:338px; height:130px; border:0; color:#fff;}

.nav-tabs > li >  a.tab3:hover:before{ content: "";  border-top: 8px solid #9dc415;  border-right:10px solid transparent;  border-left: 10px solid transparent;  position: absolute;  bottom:-8px;  right:28px;  z-index: 10;}

.nav-tabs > li.tab3.active:before{ content: "";  border-top: 8px solid #9dc415;  border-right:10px solid transparent;  border-left: 10px solid transparent;  position: absolute;  bottom:-8px;  right:30px;  z-index: 10;}



.tabs-left{
  border-bottom: none !important;
}
.tabs-left {
  border-right: 0px solid #ddd !important; width:auto !important;
}

.tabs-left>li, .tabs-right>li {
  float: none !important;
  background:#ffbe0e !important; border-bottom:solid 2px #f0d690 !important;
}
.tabs-left>li {
  margin-right: -1px !important; padding-left:0 !important;
}

.tabs-left>li.active>a,
.tabs-left>li.active>a:hover,
.tabs-left>li.active>a:focus {
  background:#ff7f0e !important /*url(../images/arrow.jpg) no-repeat right center*/;
  color:#fff !important; border-width:0 !important;
}


.tabs-left>li>a {
  border-radius:0 !important;
  margin-right: 0 !important;
  display:block; font-family: 'Open Sans', sans-serif; font-size:25px; color:#262626; font-weight:400; padding:30px;
}
.tabs-left>li>a:hover { background:#ff7f0e !important; color:#fff !important;}



.area_tabs{
  border-bottom: none !important;
  padding-top: 2px !important; background:#fff; height:525px !important
}
.area_tabs {
  border-right: 0px solid #ddd !important; width:auto !important;
}

.area_tabs>li{
  float: none !important;
  border-bottom:solid 0px #f0d690 !important; padding-left:0 !important;
}
.area_tabs>li {
  margin-right: -1px !important;
}

.area_tabs>li.active>a,
.area_tabs>li.active>a:hover,
.area_tabs>li.active>a:focus {
  background:#ff902d  !important/*url(../images/arrow.jpg) no-repeat right center*/;
  color:#272727 !important; border-width:0 !important; margin:0 3px !important
}


.area_tabs>li>a {
  border-radius:0 !important;
  margin-right: 0; background:#fff !important;
  display:block; font-family: 'Open Sans', sans-serif; font-size:19px; color:#272727; font-weight:300 !important; padding:4px !important; text-align:center !important;
}

.area_tabs>li>a:hover { background:#f3f3f3 !important; color:#272727 !important; margin:0 3px !important}

.nopadding{ padding:0 !important}
.nomargin{ margin:0 !important}

.dd_resi{ background:#f3f3f3 url(../images/location_30km.png) no-repeat  11px 5px;}
.dd_resi2{ background:#f3f3f3 url(../images/select_area.png) no-repeat  11px 6px;}
.dd_resi3{ background:#f3f3f3 url(../images/bhk.png) no-repeat  11px 7px;}
.dd_resi4{ background:#f3f3f3 url(../images/select_budget.png) no-repeat  11px 6px;}

.dd_row{ width:1065px; margin:0 auto}
.dd_row ul{}
.dd_row ul li{ list-style:none; float:left; padding-left:10px;}
.rb_text_h1{ font-size:17px !important; margin:0px 0 20px 0 !important}
.rb_text{ font-size:20px; color:#727272; outline:none}
.rb_text.active{ font-size:20px; color:#727272; outline:none;  border-bottom:solid 1px #e41919;}
.rb_text:focus{ font-size:20px; color:#727272; border-bottom:solid 1px #e41919; text-decoration:none}

.wrapper-dropdown-3 {
    /* Size and position */
    position: relative;
    width:150px;
    margin: 0 auto;
    padding:6px;

    /* Styles */
    border: 1px solid #a5a5a5;
    cursor: pointer;
    outline: none;

    /* Font settings */
     font-family: 'Open Sans', sans-serif; font-size:14px; color:#8e8e8e; padding-left:30px;
}

.wrapper-dropdown-3:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right:5px;
    top: 50%;
    margin-top: -3px;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: #a5a5a5 transparent;
}

.wrapper-dropdown-3 .dropdown {
  /* Size & position */
    position: absolute;
    top: 109%;
    left: 0;
    right: 0;

    /* Styles */
    background: white;
    border-radius: inherit;
    border: 1px solid rgba(0,0,0,0.17);
    font-weight: normal;
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
    list-style: none;
    /* Hiding */
    opacity: 0;
    pointer-events:auto; padding-left:0;
}

.wrapper-dropdown-3 .dropdown:after {
    /*content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    right: 15px;
    border-width: 0 6px 6px 6px;
    border-style: solid;
    border-color: #fff transparent;*/    
}

.wrapper-dropdown-3 .dropdown:before {
    /*content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    right: 13px;
    border-width: 0 8px 8px 8px;
    border-style: solid;
    border-color: rgba(0,0,0,0.1) transparent;*/    
}
.wrapper-dropdown-3 .dropdown li{ width:100%}
.wrapper-dropdown-3 .dropdown li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #8aa8bd;
    border-bottom: 1px solid #e6e8ea;
    box-shadow: inset 0 1px 0 rgba(255,255,255,1);
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.wrapper-dropdown-3 .dropdown li i {
    float: right;
    color: inherit;
}

.wrapper-dropdown-3 .dropdown li:first-of-type a {
   /* border-radius: 7px 7px 0 0;*/
}

.wrapper-dropdown-3 .dropdown li:last-of-type a {
    border: none;
    border-radius: 0 0 7px 7px;
}

/* Hover state */

.wrapper-dropdown-3 .dropdown li:hover a {
    background: #f3f8f8;
}

/* Active state */

.wrapper-dropdown-3.active .dropdown {
    opacity: 1;
    pointer-events: auto; z-index:1;
}

/* No CSS3 support */

.no-opacity       .wrapper-dropdown-3 .dropdown,
.no-pointerevents .wrapper-dropdown-3 .dropdown {
    display: none;
    opacity: 1; /* If opacity support but no pointer-events support */
    pointer-events: auto; /* If pointer-events support but no pointer-events support */
}

.no-opacity       .wrapper-dropdown-3.active .dropdown,
.no-pointerevents .wrapper-dropdown-3.active .dropdown {
    display: block;
}

.wrapper-dropdown-3:focus .dropdown {
    opacity: 1;
    pointer-events: auto;
}


.wrapper-dropdown-4 {
    /* Size and position */
    position: relative;
    width: 150px;
    margin: 0 auto;
    padding: 7px 40px 6px 40px;

    /* Styles */
    border: 1px solid #a5a5a5;
    cursor: pointer;
    outline: none;
}

.wrapper-dropdown-4:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right:5px;
    top: 50%;
    margin-top: -3px;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: #a5a5a5 transparent;
}

.wrapper-dropdown-4 .dropdown {
    /* Size & position */
    position: absolute;
    top: 100%;
    margin-top: 1px;
    left: -1px;
    right: -1px;

    /* Styles */
    background: white;
    border: inherit;
    border-top: none;
    list-style: none;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  
    /* Hiding */
    opacity: 0;
    pointer-events: none;
}

/* Red lines: the pseudo-elements way */
.wrapper-dropdown-4 .dropdown:before,
.wrapper-dropdown-4:before {
    height: 100%;
    position: absolute;
    top: 0;
    left: 15px;
    border-top: none;
    border-bottom: none;
    z-index: 2; padding-left:0;
}

/* Red lines: the gradients way */

/*
.wrapper-dropdown-4 .dropdown,
.wrapper-dropdown-4 {
  background: linear-gradient(left, white 5%, #ffaa9f 5%, #ffaa9f 5.3%, white 5.3%, white 6.5%, #ffaa9f 6.5%, #ffaa9f 6.8%, white 6.8%);
}

.wrapper-dropdown-4 .dropdown li:hover label {
  background: linear-gradient(left, #f0F0F0 5%, #ffaa9f 5%, #ffaa9f 5.3%, #f0F0F0 5.3%, #f0F0F0 6.5%, #ffaa9f 6.5%, #ffaa9f 6.8%, #f0F0F0 6.8%);
}
*/

.wrapper-dropdown-4 .dropdown li {
    position: relative; /* Enable absolute positioning for checkboxes */ width:100%;
}

.wrapper-dropdown-4 .dropdown li label {
    display: block;
    padding: 10px 10px 10px 0px; /* Same padding as the button */
    border-bottom: 1px dotted #1ccfcf;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.wrapper-dropdown-4 .dropdown li:last-of-type label {
    border: none;
}

.wrapper-dropdown-4 .dropdown li input /* Checkboxes */ {
    position: absolute;
    display: block;
    right: 10px;
    top: 50%;
    margin-top: -8px;
}

/* Hover state */

.wrapper-dropdown-4 .dropdown li:hover label {
    background: #f0f0f0;
}

/* Checked state */

.wrapper-dropdown-4 .dropdown li input:checked ~ label {
    color: grey;
}

/* Active state */

.wrapper-dropdown-4.active:after {
    border-width: 0 6px 6px 6px;
}

.wrapper-dropdown-4.active .dropdown {
    opacity: 1;
    pointer-events: auto; padding-left:0; z-index:1;
}

/* No CSS3 support */

.no-opacity       wrapper-dropdown-4 .dropdown,
.no-pointerevents .wrapper-dropdown-4 .dropdown {
    display: none;
    opacity: 1; /* If opacity support but no pointer-events support */
    pointer-events: auto; /* If pointer-events support but no pointer-events support */
}

.no-opacity       .wrapper-dropdown-4.active .dropdown,
.no-pointerevents .wrapper-dropdown-4.active .dropdown {
    display: block;
}


.wrapper-dropdown-4:focus .dropdown {
    opacity: 1;
    pointer-events: auto;
}


.wrapper-dropdown-4:focus:after {
    border-width: 0 6px 6px 6px;
}
.main_header{ margin:0 3% !important}
.header_text{ margin:15px 0 0 0 !important; float:right !important}
.header_text ul{ padding:0; margin:0; float:right}
.header_text ul li{list-style:none; float:left;}
.header_text ul li img{ width:auto; float:left; margin-right:5px;}
.header_text ul li p{ font-size:15px; color:#040009; font-weight:300; text-transform:uppercase; margin:0;padding-top:3px}
.header_text ul li p a{ font-size:15px; color:#040009; font-weight:300; text-transform:uppercase; margin:0}
.header_text ul li p span{ font-size:15px; color:#f58634; font-weight:600}
.header_text ul li h1{ font-size:15px; color:#040009; font-weight:600; margin:0; text-transform:uppercase; margin-top:4px;}
.header_text ul li h1 img{ width:auto; float:right; margin:-2px 0 0 0px;}
.header_text ul li a{ font-size:14px; color:#646464; padding-top:5px; line-height:22px}
.header_text ul li a:hover{ color:#f58634}
.header_text ul li.sec1{ width:240px;}
.header_text ul li.sec2{ width:210px;}
.header_text ul li.sec3{ width:220px;}
.menu_ico{ margin-top:15px; width:35px; float:right}

.header_lt_col{ width:93% !important;}
.header_rt_col{ width:7% !important;}

.sub_header{ font-size:15px; color:#4b4b4b; margin-top:15px; float:right;} 


.sub_header a{ font-size:15px; color:#4b4b4b; margin:0  5px}
.sub_header a:hover{color:#ec3237}
.sub_header img{ width:auto; margin:0 5px 0 0}
.inner_banner{ background:#ffbe0e; vertical-align:middle; box-shadow:0px 2px 2px 1px rgba(0,0,0,0.20); text-align:left}

.inner_banner h1{ font-size:22px; color:#fff; margin-top:7px;} 
.inner_banner img{ float:right; margin:7px 0 0 0; width:65px}

.toolbar_section{margin-top:15px;}
.search_section{  background:#f3f3f3;}
.search_section.col9{ width:76%}
.search_section.col3{ width:24%}
.search_right{  background:#f3f3f3; padding:5px 0; margin:0 0 0 0px}
.form-control {
  display: block;
  width: 100%;
  height:35px;
  padding: 6px 12px 6px 5px;
  font-size:14px;
  line-height:normal;
  color: #8e8e8e;
  background-color: #f9f9f9;
  background-image: none;
  border: 1px solid #e6e2e2;
  border-radius:5px; box-shadow:none; margin-top:3px;

}
.form-control:focus{ border-color:#f3f3f3}
input[type="checkbox"] {
    display:none;
}

/*input[type="checkbox"] + label {
    color:#f2f2f2;
}*/
.radio label, .checkbox label{ padding-left:10px;}
input[type="checkbox"] + label span {
    display:inline-block;
    width:22px;
    height:21px;
    margin:-2px 4px 0 0;
    vertical-align:middle;
    background:url(../images/check_radio_btn.png) left top no-repeat;
    cursor:pointer;
}

input[type="checkbox"]:checked + label span {
    background:url(../images/check_radio_btn.png) -22px top no-repeat;
}

.home input[type="checkbox"] + label span {
    display:inline-block;
    width:12px;
    height:12px;
    margin:-2px 4px 0 0;
    vertical-align:middle;
    background:url(../images/home_chk.jpg) left top no-repeat;
    cursor:pointer;
}

.home input[type="checkbox"]:checked + label span {
    background:url(../images/home_chk.jpg) -12px top no-repeat;
}


input[type="radio"] {
    display:none;
}

input[type="radio"] + label { font-size:15px; font-weight:500; margin-right:10px;}

input[type="radio"] + label span {
    display:inline-block;
    width:19px;
    height:21px;
    margin:-2px 5px 0 0;
    vertical-align:middle;
    background:url(../images/check_radio_btn.png) -46px top no-repeat;
    cursor:pointer;
}

input[type="radio"]:checked + label span {
    background:url(../images/check_radio_btn.png) -65px top no-repeat;
}
.demo{ margin:0 0;}
.demo_col{ background:#f2f2f2; padding:0 5px}
.demo select {
	border: 0 !important;  
	-webkit-appearance: none;  
	-moz-appearance: none; 
	background: #f2f2f2 url(../images/dd_sm_arrow.jpg) no-repeat right center;
	width: 60px;         /* updated by harshu */
	text-indent: 0.01px; 
	text-overflow: ""; 

	color: #646464;
	border-radius: 0;
	padding: 5px 0;
	box-shadow:none; float:left;
	margin-left: 3px; /* updated by harshu */
}
.demo select.balck {
	background-color: #000;
}
.demo select.option3 {
	border-radius: 10px 0;
}

.demo2 select {
	border: 0 !important;  
	-webkit-appearance: none;  
	-moz-appearance: none; 
	background: #f2f2f2 url(../images/details_arrow.jpg) no-repeat right 12px;
	width: 100px; 
	text-indent: 0.01px; 
	text-overflow: ""; 
	border-radius: 0;
	padding: 5px 0;
	box-shadow:none; float:left; font-size:16px; color:#ec3237; font-weight:600;
}
.demo2 select.balck {
	background-color: #000;
}
.demo2 select.option3 {
	border-radius: 10px 0;
}

.demo_home{ margin:0 0;}
.demo_col{ background:#f2f2f2; padding:0 5px}
.demo_home select {
	border: 0 !important;  
	-webkit-appearance: none;  
	-moz-appearance: none; 
	background: url(../images/home_dd.jpg) no-repeat right center;
	width:150px;         /* updated by harshu */
	text-indent: 0.01px; 
	text-overflow: ""; 

	color: #646464;
	border-radius: 0;
	padding: 5px 0;
	box-shadow:none; float:left; height: 33px;
	margin-left: 3px; /* updated by harshu */
}
.demo_home select.balck {
	background-color: #000;
}
.demo_home select.option3 {
	border-radius: 10px 0;
}
.dd_table{ border: solid 1px #ccc !important; background: #f3f3f3}
.help-block{ margin: 0!important }

.demo_home img{ margin-left: 5px; }

.demo img{ float:left; margin-top:10px; width:8px;}
.boldtxt{ font-size:40px; line-height:23px}

.border_right{ /*border-right:2px solid #929292; margin:5px 0*/ background:url(../images/sep.jpg) no-repeat left top}

.chkbob_lable{ font-size:13px; font-weight:400; padding-top:2px;}
.filter_text{ font-size:15px; font-weight:600; padding-top:3px;}  /* updated by harshu */
.search_btn{ background:#ec3237; padding:6px 10px; font-size:18px; font-weight:300; color:#fdfdfd; border-radius:0; outline:none; float:right}
.search_btn:hover, .search_btn:focus, .search_btn.focus{ background:#ec3237; color:#fff;}
.nopadding{ padding:0}
.padding_left{ padding:0 0 0 15px;}

.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus { background:#f3f3f3}

.short_section ul { padding:0; margin:0;}
.short_section ul li{ list-style:none;}
.short_section ul li  {font-size:16px;  font-weight:400;  margin:0; padding:5px 6px 5px 2px}
.short_section ul li  a img{ width:13px; margin:0;}
.short_section ul li  a img.short{ width:18px; margin:0 4px;}
.short_section ul li  a{ font-size:15px; font-weight:400; color:#646464; margin:0; padding:0;}
.short_section  ul li a:hover{ color:#f58634; background:#f3f3f3}
/*.short_section ul li ul li.first{
width: 0;
height: 0;
border-style: solid;
border-width: 0 7.5px 10px 7.5px;
border-color: transparent transparent #ec3238}*/
.short_section ul li u{ background:#ec3237}
.short_section ul li ul li{ font-size:15px;  font-weight:400;  margin:0; padding:0px 0; border-bottom:solid 1px #d6282d;}
.short_section ul li ul li  a{ font-size:15px; font-weight:400; color:#fff; margin:0; padding:5px 10px; background:#ec3237}
.short_section  ul li ul li a:hover{ color:#fff; background:#ffbe0e;}

.more_options{ background:#fff url(../images/ul_top.png) no-repeat right top; left: -467px; width:550px; float:left; margin:0; box-shadow:none}
.more_options ul li{list-style:none; float:left; width:200px;}


.breadcrum{font-size:14px; color:#ec3237; margin:20px 0 15px 0}
.breadcrum a, .breadcrum a:hover{font-size:14px; color:#929292;}
.pro_left_column{ padding:15px; border:solid 1px #ffbe0e; margin-bottom:20px; border-radius:10px;}

.projects_section{}
.projects_section h1{ font-size:19px; margin:0; padding-bottom:10px;}
.projects_section h2{ font-size:14px; color:#e41919; margin:0; padding-bottom:15px;}

.pro_box{ background:#f2f2f2; padding:15px; margin-left:0px; margin-bottom:20px;}
.pro_box_2{ background:#e6e6e6; padding:15px; margin-left:0px; margin-bottom:20px;}
.pro_box h1{ font-size:15px; color:#272727; margin:0; padding-bottom:10px; font-weight:600}
.pro_detail{ padding-left:15px;}
.pro_box p{ font-size:14px; color:#272727; margin:0; font-weight:300; padding:7px  0}
.pro_box p img{ margin-right:10px; width:18px}
.pro_box table{ float:none; margin-top:10px;}
.pro_box table td{ padding:0 5px;}
.pro_box table td img{ width:30px;}

.home_pro_box{ background:#f2f2f2; padding:15px !important; margin-left:0px !important; margin-bottom:20px !important; margin-right:20px !important;}
.home_pro_box_2{ background:#e6e6e6 !important; padding:15px !important; margin-left:0px !important; margin-bottom:10px !important;}
.home_pro_box h1{ font-size:15px !important; color:#272727 !important; margin:0 !important; padding-bottom:10px; font-weight:600 !important}
.home_pro_detail{ padding-left:15px;}
.home_pro_box p{ font-size:14px; color:#272727; margin:0; font-weight:300; padding:7px  0}
.home_pro_box p img{ margin-right:10px; width:18px}
.home_pro_box table{ float:none; margin-top:11px;}
.home_pro_box table td{ padding:0 5px;}
.home_pro_box table td img{ width:30px;}

.yellow_btn{ background:#ffbe0e; padding:7px 19px; border:0; font-size:15px; color:#272727; font-weight:300;}
.orrange_btn{ background:#ff7f0e; padding:7px 19px; border:0; font-size:15px; color:#fff; font-weight:300;}
.red_btn{ background:#e41919; padding:5px 15px; border:0; border-radius:15px; font-size:14px; color:#fff; font-weight:300; margin-top:10px;}


.home_yellow_btn{ background:#ffbe0e; padding:7px 19px; border:0; font-size:15px; color:#272727; font-weight:300;}
.home_orrange_btn{ background:#ff7f0e; padding:7px 19px; border:0; font-size:15px; color:#fff; font-weight:300;}
.home_red_btn{ background:#e41919; padding:5px 15px; border:0; border-radius:15px; font-size:14px; color:#fff; font-weight:300; margin-top:11px;}

.about{
	width:100%;
	background-color:#6a737c;
	padding-top:20px;
	padding-bottom:20px;
	font-family: 'Open Sans', sans-serif;
	color:#ffffff;
	font-size:13px;
	overflow:hidden;
}

.about h2{
	font-family: 'Open Sans', sans-serif;
	color:#ffffff;
	font-size:18px; margin-bottom:10px;
}

.social [class*="fa fa-facebook"] {
    background-color: #3b5898;
    border-radius: 30px;
    color: #fff;
    display: inline-block;
    height: 40px;
    line-height: 30px;
    margin: auto 3px;
    width: 40px;
    font-size: 15px;
    text-align: center;
	padding-top: 5px;
	margin-top:10px;
	
}	
	
.social_1 [class*="fa fa-twitter"] {
    background-color: #00aee7;
    border-radius: 30px;
    color: #fff;
    display: inline-block;
    height: 40px;
    line-height: 30px;
    margin: auto 3px;
    width: 40px;
    font-size: 15px;
    text-align: center;
	padding-top: 5px;
	margin-top:10px;
}		
	
.social_2 [class*="fa fa-google-plus"] {
    background-color: #e3483e;
    border-radius: 30px;
    color: #fff;
    display: inline-block;
    height: 40px;
    line-height: 30px;
    margin: auto 3px;
    width: 40px;
    font-size: 15px;
    text-align: center;

	padding-top: 5px;
	margin-top:10px;
}		
	

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #fff;
    background-color: #3b5898;
}

.footer_links ul{ padding:0; margin:0}
.footer_links ul li{ list-style:none; padding:2px 0;}
.footer_links ul li a{ color:#ccced0; font-size:14px;}
.footer_links ul li a:hover{ color:#fff; text-decoration:none}
.social_links{ margin:0}
.social_links div a{ color:#ccced0; font-size:16px;}
.social_links div a:hover{ color:#fff !important; text-decoration:none !important}


.carousel-control-prev-icon {
  background-image: url(../images/left_arrow.png);
}

.carousel-control-next-icon {
  background-image:url(../images/right_arrow.png);
}


.tabs-left>li.active>a,
.tabs-left>li.active>a:hover,
.tabs-left>li.active>a:focus {
  background:#ff7f0e !important /*url(../images/arrow.jpg) no-repeat right center*/;
  color:#fff; border-width:0;
}
.demo select option{ border:5px}
.more_modal_dilog{ top:170px; right:-110px; background:url(../images/ul_top.png) no-repeat right top; border-top:10px solid #ec3237}
.more_modal_header{ background:url(../images/ul_top.png) no-repeat right top;}

.more_modal_dilog:before {
  content: "";
  border-bottom: 8px solid #ec3237;
  border-right:10px solid transparent;
  border-left: 10px solid transparent;
  position: absolute;
  top: -18px;
  right:10px;
  z-index: 10;
}

.more_modal_dilog:after {
  content: "";
  border-bottom: 8px solid #ec3237;
  border-right:10px solid transparent;
  border-left: 10px solid transparent;
  position: absolute;
  top: -18px;
  right:10px;
  z-index: 10;
}

.popup_content{ padding:20px 20px 10px 20px;}
.amenities_col{ border-right:solid 1px #e7e7e7}
.amenities_col h1{ font-size:18px; font-weight:500; margin:0 0 12px}
.amenities_col p{ margin:0 0 5px 0}
.amenities_col p label{ font-size:13px; font-weight:600;} 
.amenities_col p label img{ margin:0 5px; width:20px;} 

.filter_col{border-right:solid 1px #e7e7e7}
.filter_col h1{ font-size:18px; font-weight:500; margin:0 0 12px}
.filter_col p{ margin:0 0 5px 0; border-bottom:solid 1px #e7e7e7}
.filter_col select {
	border: 0 !important;  
	-webkit-appearance: none;  
	-moz-appearance: none; 
	background:url(../images/dd_sm_arrow.jpg) no-repeat right center;
	width: 113px; 
	text-indent: 0.01px; 
	text-overflow: ""; font-size:13px; font-weight:600; 
	color: #646464;
	border-radius: 0;
	padding: 5px 0;
	box-shadow:none; float:left; 
}
.filter_col hr, .other_col hr{margin:0 0 2px 0; padding:0; border-top:solid 1px #e7e7e7; clear:both;}
.other_col{ font-size:13px; font-weight:600;}
.other_col h1{ font-size:18px; font-weight:500; margin:0 0 12px}
.other_col table{ margin-bottom:5px;}
.other_col table td{ padding:8px 3px !important;}
.other_col input{ background:#f2f2f2; padding:2px; width:70px; border:0px; height:25px;}

.other_col p{ margin:10px 0 10px 0}
.other_col p label{ font-size:13px; font-weight:600;} 
.other_col p label img{ margin:0 5px;}
.other_col p span{ font-size:10px; font-weight:400}



.detail_body { padding:0px 32px 0px 25px; margin-top:16px; border-right:1px solid #e7e7e7; }

.detail_body_lt { padding:0px 0px 0px 0px; }
.detail_body_rt { padding:5px 0px 0px 0px; background:#f2f2f2; }
.detail_body_rt p { font-size:10px; color:#646464; margin:8px 0px 12px 18px; }
.detail_body_rt p img { width:25px; margin:2px 5px 0px 0px; }

.detail_body_title span { font-size:12px; color:#646464; margin:0px 0px 0px 33px; text-align:left; }
.detail_body_title h1 { font-size:22px; color:#ec3237; margin:5px 0px 5px 33px; text-align:left; font-weight:600; }
.detail_body_title p { font-size:14px; color:#090909; margin:0px 0px 5px 33px; text-align:left; font-weight:600; }

.detail_body_price { background:#ffbe0e; margin:0px; }
.detail_body_price ul { padding:0px 0px 0px 0px; margin:0px auto !important; width:195px; }
.detail_body_price ul li { list-style:none; float:left; padding:0px 0px 0px 0px; margin:6px 2px 14px 2px; text-align:center; }
.detail_body_price ul li span { font-size:11px; color:#090909; margin:0px 0px 0px 0px; padding:0px 0px 0px 0px; text-align:center; }
.detail_body_price ul li h1 { font-size:14px; color:#090909; margin:3px 0px 0px 0px; }

.detail_body_detail h1 { font-size:18px; color:#ec3237; margin:10px 0px 0px 33px; text-align:left; font-weight:400; }
.detail_body_detail p { font-size:11px; color:#646464; margin:2px 12px 10px 33px; text-align:left; font-weight:400; padding-right:10px; }
.detail_body_detail span { margin:0px 0px 0px 0px; font-size:10px; color:#090909; }
.detail_body_detail span img { margin:4px 10px 0px 33px; }

.contact_owner2 { background:#e41919; border-radius:25px; font-size:15px; color:#fffefe; padding:5px 25px 8px 25px; border:none; margin:12px 0px 0px 18px; }

.recommend_button { background:#4fa615 !important; border:none !important; font-size:13px !important; color:#fffefe !important; padding:5px 53px 5px !important; width:100% !important; }
.recommend_button img { margin:0px 4px 0px 0px; }
.recommend_button:focus { background:#ec3237; border:none; font-size:11px; color:#fffefe; padding:5px 10px 5px 10px; width:143px; }

.detail_features h1 { font-size:17px; color:#ec3237; margin:30px 0px 13px 0px; }
.detail_features ul { padding:0px 0px 0px 0px; margin:0px 0px 0px 0px; }
.detail_features ul li { list-style:none; float:left; font-size:12px; color:#272727; padding:0px 31px 0px 0px; margin:0px 0px 0px 0px; }
.detail_features ul li img { float:left; margin:0px 8px 0px 0px; }

.detail_hr_line { border-top:1px solid #f1f1f1; margin:28px 0px 14px -15px; padding:0px;}

.detail_aminities h1 { font-size:17px; color:#ec3237; margin:0px 0px 12px 0px; }
.detail_aminities ul { padding:0px 0px 0px 0px; margin:0px 0px 0px 0px; }
.detail_aminities ul li { list-style:none; float:left; font-size:10px; color:#646464; padding:9px 0px 0px 0px; margin:0px 7px 7px 0px; width:117px; background:#f2f2f2; height:34px; }
.detail_aminities ul li.deactive { list-style:none; float:left; font-size:10px; color:#989898; padding:9px 0px 0px 0px; margin:0px 7px 7px 0px; width:117px; background:#f2f2f2; height:34px; }
.detail_aminities ul li img { float:left; margin:0px 5px 0px 10px; }

.detail_regular_aminities h1 { font-size:17px; color:#ec3237; margin:18px 0px 14px 0px; }
.detail_regular_aminities ul { padding:0px 0px 0px 0px; margin:0px 0px 0px 0px; }
.detail_regular_aminities ul li { list-style:none; float:left; font-size:11px; color:#646464; padding:0px 0px 15px 12px; margin:0px 0px 0px 0px; width:140px; background:url(../images/detail_bullet.png) no-repeat left 2px; }

.detail_hr_line2 { border-top:1px solid #f1f1f1; margin:13px 0px 14px -15px; padding:0px;}

.detail_neighbourhood h1 { font-size:17px; color:#ec3237; margin:0px 0px 14px 0px; }

.gallary_big_photo { padding: 0px 0px 0px 0px; }
.gallary_small_photo1 { padding: 0px 5px 7px 0px; }
.gallary_small_photo { padding: 0px 5px 0px 0px; }
.gallary_small_photo span.overlay1 {
    position:absolute;
    top:0;
    left:0;
    right:5px;
    bottom:0;
    z-index:10;
	font-size:25px; color:#fff; text-align:center; padding: 70px 0px 0px 0px; background:rgba(0,0,0,0.6);
}


.detail_regular_aminities2 h1 { font-size:17px; color:#ec3237; margin:0px 0px 14px 0px; }
.detail_regular_aminities2 ul { padding:0px 0px 0px 0px; margin:0px 0px 0px 0px; }
.detail_regular_aminities2 ul li { list-style:none; float:left; font-size:11px; color:#646464; padding:0px 0px 15px 12px; margin:0px 0px 0px 0px; width:140px; background:url(../images/detail_bullet.png) no-repeat left 2px; }

.detail_hr_line2 { border-top:1px solid #f1f1f1; margin:13px 0px 14px -15px; padding:0px;}

.detail_neighbourhood h1 { font-size:17px; color:#ec3237; margin:0px 0px 14px 0px; }

.gallary_big_photo { padding: 0px 0px 0px 0px; }
.gallary_small_photo1 { padding: 0px 5px 7px 0px; }
.gallary_small_photo { padding: 0px 5px 0px 0px; }
.gallary_small_photo span.overlay1 {
    position:absolute;
    top:0;
    left:0;
    right:5px;
    bottom:0;
    z-index:10;
	font-size:25px; color:#fff; text-align:center; padding: 70px 0px 0px 0px; background:rgba(0,0,0,0.6);
}

.detail_features_vr h1 { font-size:17px; color:#ec3237; margin:20px 0px 13px 0px; }
.detail_features_vr ul { padding:0px 0px 0px 0px; margin:0px 0px 0px 0px; }
.detail_features_vr ul li { list-style:none; font-size:12px; color:#272727; padding:3px 31px 3px 0px; margin:0px 0px 0px 0px; }
.detail_features_vr ul li img { float:left; margin:0px 8px 0px 0px; }















.imageGallery1 {

        overflow: hidden; margin: 0px 0px;

    }
    .imageGallery1 > a {

        float: left; width: 33.3333%; padding: 1px; box-sizing: border-box; position: relative;

    }

    .imageGallery1 > a:first-child { left: -1px; }
    .imageGallery1 > a:last-child { right: -1px; }

    .imageGallery1 > a > img {

        display: block; width: 100%;

    }
	.contentInPopup {
        padding: 2em; max-width: 40em;
    }








.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  bottom:-14px;
  left: 14px;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.middle2 {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 89%;
  left: 7%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.middle3 {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  bottom:-14px;
  left: 14px;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  z-index:10;
}

.gallary_big_photo .image {
  opacity: 0.3;
}

.gallary_big_photo .middle {
  opacity: 1;
}

.gallary_small_photo1.image {
  opacity: 0.3;
}

.gallary_small_photo1 .middle2 {
  opacity: 1;
}

.gallary_small_photo .image {
  opacity: 0.3;
}

.gallary_small_photo .middle3 {
  opacity: 1;
}

.select2-search__field{background: #f3f3f3 /*url(../images/select_area.png) no-repeat 11px 7px*/ !important; width: 400px !important; height: 33px !important; padding-left: 0!important; padding-left: 10px !important;}
.select2-search__field:focus{-webkit-box-shadow:0 !important;box-shadow:0 !important}
.select2-container--bootstrap .select2-selection{ border-radius: 0!important }
.select2-search--inline{ padding-left: 0 !important }

.radio_text, .available_forradio_resi, .available_forradio_comm, .available_forradio_agri{font-size: 20px;
color: #727272; font-weight: normal!important;
outline: none; padding-top: 10px}


.radio_text_active{font-size: 20px;
color: #727272;
outline: none;font-weight: normal !important;
border-bottom: solid 2px #e41919; padding-top: 10px}



/*.navbar-nav>li>.dropdown-menu {
  margin-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.navbar-default .navbar-nav>li>a {
  width: 200px;
  font-weight: bold;
}

.mega-dropdown {
  position: static !important;
  
}

.mega-dropdown-menu {
  padding: 20px 0px;
  width: auto;
  box-shadow: none;
  -webkit-box-shadow: none; left:-479px
}

.mega-dropdown-menu:before {
  content: "";
  border-bottom: 8px solid #ec3237;
  border-right:10px solid transparent;
  border-left: 10px solid transparent;
  position: absolute;
  top: -8px;
  left: 555px;
  z-index: 10;
}

.mega-dropdown-menu:after {
  content: "";
  border-bottom: 8px solid #ec3237;
  border-right:10px solid transparent;
  border-left: 10px solid transparent;
  position: absolute;
  top: -8px;
  left: 555px;
  z-index: 10;
}

.mega-dropdown-menu > li > ul {
  padding: 0;
  margin: 0;
}

.mega-dropdown-menu > li > ul > li {
  list-style: none; width:200px;
}

.mega-dropdown-menu > li > ul > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #999;
  white-space: normal;
}

.mega-dropdown-menu > li ul > li > a:hover,
.mega-dropdown-menu > li ul > li > a:focus {
  text-decoration: none;
  color: #444;
  background-color: #f5f5f5;
}

.mega-dropdown-menu .dropdown-header {
  font-size: 17px;
  font-weight:500;
}

.mega-dropdown-menu form {
  margin: 3px 20px;
}

.mega-dropdown-menu .form-group {
  margin-bottom: 3px;
}*/

.select2-container--bootstrap.select2-container--focus .select2-selection, .select2-container--bootstrap.select2-container--open .select2-selection
{
	width: 400px !important;
}

.select2-container--bootstrap.select2-container--focus .select2-selection, .select2-container--bootstrap.select2-container--open .select2-selection{ width:400px !important;
-webkit-box-shadow:none !important;box-shadow:none !important; border-color:#ccc !important }

.select2-container--bootstrap .select2-selection--multiple .select2-selection__rendered{ width:398px !important;}
